#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator {
  background-color: black;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  border: 5px solid rgba(12, 12, 12, 1.0);
}

.current-value {
  background-color: lightgray;
  color: black;
  font-size: 2rem;
  border-radius: 15px;
  padding: 0.2rem;
  box-shadow: 0 0 8px black inset;
}

.input-display {
  background-color: lightgray;
  color: black;
  border-radius: 15px;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px black inset;
}

.next-value {
  font-weight: bold;
  text-align: right;
  padding: 0.2rem 1rem;
}

.last-op {
  color: blue;
  text-align: center;
  font-size: 1.2rem;
}

.col-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calc-numpad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

.calc-numpad button {
  width: 60px;
  aspect-ratio: 1/1;
}

.calc-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calc-actions button {
  width: 45px;
  aspect-ratio: 1/1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  background-color: orange;
  color: black;
  font-weight: 700;
  font-size: 1rem;
}

.calc-actions button:hover {
  background-color: yellow;
}

.calc-actions button:first-of-type {
  background-color: red;
}

.calc-actions button:last-of-type {
  background-color: green;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}